@font-face { font-family: Druk Heavy; src: url('fonts/Druk Heavy.otf'); }
@font-face { font-family: Druk Text Wide Cyr Medium; src: url('fonts/Druk Text Wide Cyr Medium.otf'); }

.bg-main {
    background-image: url(pic/af1b0c52497983.5912ceae8c28c.jpg);
    background-size: cover; 
    height: 100vh;
    background-attachment: fixed;
}

.text-h1 {
    color: white;
    font-family: Druk Text Wide Cyr Medium;
    font-size: 42px;
    margin-left: 7vw;
    margin-top: 3vh;
}

.logo {
    height: 37px;
    margin-top: 12vh;
}

.web-design {
    margin-left: 7vw;
    margin-top: 52vh;
    font-size: 11px;
    color: white;
    font-family: Druk Text Wide Cyr Medium;
}

/*.text-restaurant {
    font-size: 13px;
    color: white;
    font-family: Druk Text Wide Cyr Medium;
    display: inline-block;
    right: 6.2vw;
    position: absolute;
    margin-top: 12vh;
}*/

.logo-and-restaurant {
    width: 85.6vw;
    margin-left: 7vw;
}

.text-restaurant {
    font-size: 13px;
    color: white;
    font-family: Druk Text Wide Cyr Medium;
    float: right;
    margin-top: 12vh;
}

.header-text {
    display: inline-block;
    /*margin-top: -4.1vh;*/
    margin-top: -31px;
    font-size: 12px;
    font-family: Druk Text Wide Cyr Medium;
    margin-left: 25vw;
    width: 67.6vw;
}

.header {
    position: sticky;
    top: -55px; 
    /*height: 132px;
    /*top: -7vh;*/
    background-color: white;
}

.logo-black {
    height: 26px;
    display: inline-block;
    background-color: white;
    margin-left: 7vw;
}

.header-vertical-line {
    border-left: 0.1px solid black;
    height: 16px;
    margin-top: 0.28vh;
    display: inline-block;
    position: absolute;
}

.header-get-direction {
    float: left;
    background-color: white;
}

.header-contacts {
    float: right;
    right: 0;
    background-color: white;
}

.header-hr {
    height: 0.1px;
    /*margin-top: 6vh;*/
    margin-top: 45px;
    background-color: #E6E7E8;
    margin-bottom: -6px;
    width: 67.6vw;
}

.header-hr-2 {
    margin-left: 25vw;
}

.header-btn-menu {
    float: right;
    margin-left: 80px;
    border: 0px;
    background: white;
}

.header-btn-menu:active, 
.header-btn-menu:focus {
    outline: none;
}

.hr-btn-header-1 {
    width: 32px;
    margin-top: 7px;
}

.hr-btn-header-2 {
    width: 32px;
    margin-top: -10px;
}

.header-menu-hr {
    display: none;
}

.header-menu {
    font-family: Druk Text Wide Cyr Medium;
    font-size: 36px;
    color: #212529;
    line-height: 105%;
    margin-bottom: 40px;
    margin-top: 32px;
    width: 67.6vw;
    margin-left: 25vw;
}

.mini-about {
    font-family: Druk Text Wide Cyr Medium;
    font-size: 35px;
    line-height: 110%;
    margin-top: 6vh;
    margin-left: 25vw;
}

.round-div {
    width: 67.6vw;
    margin-left: 25vw; 
}

.round-book {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background: #ff3b01;
    float: right;
    border: 0px;
}

.round-book:active, 
.round-book:focus {
    outline: none;
}

.text-in-round {
    font-family: Druk Text Wide Cyr Medium;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 2px;
}

/*.round-sound {
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    border: 1.4px solid black;
    margin-top: 87px;
    margin-left: 7vw;
}

.text-in-round-sound {
    margin-left: 53px;
    font-family: Druk Text Wide Cyr Medium;
    font-size: 15px;
    margin-top: 9px;
}

.header-vertical-line-sound-1 {
    border-left: 1.5px solid black;
    height: 18px;
    margin-top: -21px;
    display: inline-block;
    position: absolute;
    margin-left: -42px;
}

.header-vertical-line-sound-2 {
    border-left: 1.5px solid black;
    height: 13px;
    margin-top: -16px;
    display: inline-block;
    position: absolute;
    margin-left: -38px;
}

.header-vertical-line-sound-3 {
    border-left: 1.5px solid black;
    height: 10px;
    margin-top: -13px;
    display: inline-block;
    position: absolute;
    margin-left: -34px;
}

.header-vertical-line-sound-4 {
    border-left: 1.5px solid black;
    height: 15px;
    margin-top: -18px;
    display: inline-block;
    position: absolute;
    margin-left: -30px;
}

.header-vertical-line-sound-5 {
    border-left: 1.5px solid black;
    height: 14px;
    margin-top: -17px;
    display: inline-block;
    position: absolute;
    margin-left: -26px;
}*/

.who-we-are-header {
    font-family: Druk Text Wide Cyr Medium;
    margin-left: 25vw;
    font-size: 40px;
    margin-top: 250px;
    width: 67.6vw;
}

.who-hr {
    background-color: #E6E7E8;
    margin-top: 35px;
}

.about-skewd {
    margin-top: 13vh; 
    margin-left: 25vw; 
    width: 67.6vw;
}

.skewd-about-pic {
    width: 680px;
}

.about-skewd-text {
    font-family: Druk Text Wide Cyr Medium;
    font-size: 18px;
    float: left;
    margin-top: -58px;
    margin-left: 750px;
    margin-bottom: 0px;    
}

.about-skewd-text-details {
    font-size: 12px;
    color: #808285;
    margin-top: 14px;
    text-decoration: underline;
}

.img-gallery {
    width: 300px;
    float: right;
}

.gallery-sundayroast {
    width: 67.6vw;
    margin-top: 190px;
    margin-left: 25vw; 
}

.gallery-text {
    font-family: Druk Text Wide Cyr Medium;
    font-size: 18px;
    float: right;
    margin-top: -7px;
    margin-right: 72px;
}

.gallery-text-details {
    font-size: 12px;
    color: #808285;
    margin-top: 14px;
    text-decoration: underline;
}

.sunday-roast-img {
    margin-top: 250px;
}

.sunday-rost-text {
    font-family: Druk Text Wide Cyr Medium;
    font-size: 18px;
    float: left;
    margin-top: -58px;
    margin-left: 351px;
    margin-bottom: 0px;
    clear: both;
}

.sunday-rost-text-details {
    font-size: 12px;
    color: #808285;
    margin-top: 14px;
    text-decoration: underline;
}

.award-winners {
    width: 67.6vw;
    margin-top: 190px;
    margin-left: 25vw; 
    float: left;
}

.award-winners-img {
    float: right;
}

.award-winners-text {
    font-family: Druk Text Wide Cyr Medium;
    font-size: 18px;
    float: right;
    margin-top: 351px;
    margin-right: 72px;
}

.award-winners-text-details {
    font-size: 12px;
    color: #808285;
    margin-top: 14px;
    text-decoration: underline;
}

.orange-rec-div {
    width: 67.6vw;
    margin-left: 25vw; 
    clear: both;
    float: left;
}

.orange-rectangle {
    border: 10px solid transparent;
    border-top: 10px solid #ff3b01; 
    border-right: 10px solid #ff3b01;
    margin-top: 15px;
    float: right;
}

.footer {  
    margin-top: 770px;
    width: 85.6vw;
    margin-left: 7vw;
}

.footer-hr {
    height: 0.1px;
    width: 85.6vw;
    margin-top: 35px;
    background-color: #E6E7E8;
}

.logo-footer {
    margin-top: 45px;
    float: left;
    margin-left: 0px;
}

.footer-time {
    float: right;
    margin-top: 45px;
    border: 2px dashed #212529;
    height: 160px;
    width: 185px;
    line-height: 125%;
}

.footer-time-day {
    font-family: Druk Text Wide Cyr Medium;
    font-size: 20px;
    color: #ff3b01;
    margin-right: 9px;
    text-align: right;
    margin-top: 65px;
}

.footer-time-time {
    font-family: Druk Text Wide Cyr Medium;
    font-size: 20px;
    color: #212529;
    text-align: right;
    margin-right: 9px;
}

.black-rec-div {
    width: 85.6vw;
    clear: both;
    float: left;
}

.black-rectangle {
    border: 10px solid transparent;
    border-top: 10px solid #212529; 
    border-right: 10px solid #212529;
    margin-top: -2px;
    float: right;
}

.footer-list {
    clear: both;
    font-family: Druk Text Wide Cyr Medium;
    font-size: 36px;
    color: #212529;
    line-height: 105%;
    margin-top: 300px;
}

.footer-end {
    font-family: Druk Text Wide Cyr Medium;
    font-size: 11px;
    margin-bottom: 22px;
}

.footer-rights {
    display: inline-block;  
}

.footer-contact {
    display: inline-block; 
    text-align: right;
    float: right;
    margin-left: 90px;
}

.footer-contact-1 {
    color: #808285;
}

.footer-contact-2 {
    margin-top: 5px;
}

.footer-numphone {
    display: inline-block; 
    text-align: right;
    float: right;
}

